---
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <div class="max-w-7xl mx-auto pt-28">
    <div class="pt-16">
      <h1 class="text-center font-extrabold text-6xl tracking-tight">Menu</h1>
    </div>
  </div>
</Layout>
