---
import CategoryCard from './CategoryCard.astro'
---

<section class="my-20 max-w-7xl mx-auto px-4">
  <div class="space-y-8">
    <div
      class="flex flex-col items-center gap-4 text-center mb-14 md:flex-row md:justify-between md:text-left"
    >
      <h1 class="text-5xl font-bold tracking-tight">Nuestras Categorías</h1>
      <a
        href="/our-services"
        class="inline-block rounded-md border-2 border-amber-700 px-8 py-3 text-lg font-bold text-black transition hover:bg-amber-700 hover:text-white"
      >
        Ver más
      </a>
    </div>

    <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
      <CategoryCard
        title="Platos Principales"
        content="Nuestra selección de los mejores platos de la casa."
      />

      <CategoryCard title="Bebidas" content="Refrescos y bebidas para acompañar tu comida." />

      <CategoryCard title="Postres" content="El toque dulce para finalizar una gran comida." />
    </div>

    <div class="flex flex-col items-center gap-12 md:flex-row">
      <div class="w-full lg:w-1/2">
        <img
          src="/"
          alt="Chicharron plato servido"
          class="w-full h-auto rounded-lg shadow-xl mx-auto max-w-lg lg:max-w-full"
          loading="lazy"
        />
      </div>

      <div class="w-full lg:w-1/2 text-center lg:text-left">
        <span class="text-sm font-semibold text-amber-600 uppercase mb-2">subtitle</span>
        <h2 class="text-4xl font-bold mb-4">Chicharron</h2>
        <p class="text-lg text-gray-700 leading-relaxed mb-6">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa repudiandae molestiae
          ducimus, eum ullam consectetur laudantium suscipit eos, ratione fugit a itaque minus iure
          similique nisi dolorum incidunt. Aut, aperiam!
        </p>

        <a
          href="/our-plates/chicharron"
          class="inline-block rounded-md bg-amber-400 px-8 py-3 text-lg font-bold text-black transition cursor-pointer hover:bg-amber-500"
        >
          Leer mas
        </a>
        <!-- { -->
        <!--   buttonText && buttonHref && ( -->
        <!--     <a -->
        <!--       href={buttonHref} -->
        <!--       class="inline-block rounded-md bg-amber-500 px-8 py-3 text-lg font-bold text-white transition hover:bg-amber-600" -->
        <!--     > -->
        <!--       {buttonText} -->
        <!--     </a> -->
        <!--   ) -->
        <!-- } -->
      </div>
    </div>
  </div>
</section>
