---
import Card from './Card.astro'
---

<div class="max-w-2xl mx-auto flex flex-col items-center justify-center lg:max-w-[1460px]">
  <h1 class="text-4xl font-bold text-center text-balance tracking-tight">
    Chicharroneria Don Emiliano
  </h1>

  <div class="px-4 py-2 mx-2 mt-6">
    <p class="mb-2 text-pretty text-center">
      En Chicharroner铆a Don Emiliano te espera el aut茅ntico chicharr贸n peruano hecho con panceta de
      cerdo, crujiente por fuera y jugoso por dentro. 隆Ven a disfrutar de nuestros cl谩sicos y
      acomp谩帽alos con lo mejor de la cocina criolla! コ
    </p>
  </div>

  <div class="w-full mb-10 px-4 grid grid-cols-2 gap-x-2 gap-y-3 lg:grid-cols-3">
    <Card title="1 kg de Chicharr贸n" />
    <Card title="1/2 kg de Chicharr贸n" />
    <Card title="1/2 kg de Chicharr贸n" />
    <Card title="1/2 kg de Chicharr贸n" />

    <Card title="1/2 kg de Chicharr贸n" />
  </div>
</div>
