---
import Order from './Order.tsx'
import CartOrder from './CartOrder.tsx'
---

<section class="my-20 px-4 pt-10">
  <div class="max-w-7xl m-auto flex items-center justbetween flex-col md:flex-row gap-10">
    <div class="w-full md:w-1/2">
      <h2 class="text-4xl lg:text-5xl font-extrabold tracking-tight text-balance">
        Order tu Chciharron Favorito
      </h2>

      <div class="h-96 overflow-y-auto">
        <Order client:load />
      </div>
    </div>

    <div class="w-full md:w-2/3">
      <div class="">
        <h2></h2>
      </div>
      <div class="h-96 overflow-y-auto">
        <CartOrder client:load />
      </div>
    </div>
    `
  </div>
</section>
