<section class="my-20 px-4 bg-black">
  <div class="max-w-7xl mx-auto pt-16 pb-10">
    <div class="flex flex-col items-center text-white md:flex-row">
      <div class="space-y-2 w-1/2">
        <span class="text-amber-500 font-bold text-xl">Oferta</span>
        <h2 class="text-5xl uppercase font-extrabold tracking-tight">Nuestros Combos</h2>
        <p class="pt-2 text-pretty">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum molestias consequuntur
          reprehenderit voluptas quod.yogurtAspernatur corrupti libero tempore rem, odit nesciunt
          quo ab enim provident amet veritatis adipisci? Rerum, magnam!
        </p>
        <a
          href="/our-plates/chicharron"
          class="inline-block rounded-md bg-amber-400 px-8 py-3 my-2 text-lg font-bold text-white transition cursor-pointer hover:bg-amber-500"
        >
          Leer mas
        </a>
      </div>

      <div class="px-2 flex items-center justify-center w-1/2">
        <img src="" alt="Banner Promotion" class="" />
      </div>
    </div>
  </div>
</section>
