---
import CategoryCard from './CategoryCard.astro'
---

<section class="my-20 max-w-7xl mx-auto px-4">
  <div class="flex flex-col items-center justify-center px-4">
    <span class="text-xl text-amber-400 uppercase font-extrabold tracking-tight">
      Por que escogernos
    </span>
    <h2 class="text-6xl text-balance font-extrabold uppercase tracking-tight">
      Somos la mejor opcion
    </h2>

    <div class="mt-10 grid grid-cols-2 gap-4 md:grid-cols-4">
      <CategoryCard title="Comida higenica" content="Comda fresca del mismo dia" />
      <CategoryCard title="Comida higenica" content="Comda fresca del mismo dia" />
      <CategoryCard title="Comida higenica" content="Comda fresca del mismo dia" />
      <CategoryCard title="Comida higenica" content="Comda fresca del mismo dia" />
    </div>
  </div>
</section>
