---
import ArrowRight from '@/components/icons/ArrowRight.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<div class="max-w-lg bg-white border border-gray-200">
  <a href="#1kg-chicharron">
    <img class="rounded-t-lg" />
  </a>
  <div class="p-5">
    <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{title}</h2>
    <p class="mb-3 font-normal text-gray-700">Acompañado de camote y sarsa criolla</p>

    <div class="inline-flex items-center px-3 py-2 text-sm`">
      Saber mas
      <ArrowRight />
    </div>
  </div>
</div>
