<div class="bg-black text-white pt-32 pb-28">
  <div
    class="mx-auto pt-18 px-4 flex max-w-7xl flex-col items-center justify-between lg:justify-between gap-8 py-4 lg:flex-row"
  >
    <div class="w-full text-center lg:w-3/4 lg:text-left">
      <h2 class="text-white text-sm md:text-xl font-bold mb-4 uppercase">
        Disfruta todos los dias
      </h2>
      <h1 class="text-balance font-bold text-5xl md:text-8xl">
        <span
          class="block bg-gradient-to-t from-yellow-400 to-green-500 to-90% bg-clip-text text-transparent"
        >
          Chicharronería
        </span>
        <span
          class="block bg-gradient-to-t from-orange-400 to-rose-800 to-100% bg-clip-text text-transparent"
        >
          Don
        </span>
        <span
          class="block bg-gradient-to-t from-blue-500 to-rose-700 to-95% bg-clip-text text-transparent"
        >
          Emiliano
        </span>
      </h1>

      <p class="w-full mt-4 text-pretty text-lg md:w-3/4">
        En Chicharronería Don Emiliano te espera el auténtico chicharrón peruano hecho con panceta
        de cerdo, crujiente por fuera y jugoso por dentro.
      </p>

      <div class="inline-block mt-8">
        <a
          href="/make-your-orden"
          class="px-10 py-5 bg-amber-400 rounded-lg text-black text-xl font-bold"
        >
          Ordena ahora
        </a>
      </div>
    </div>

    <div class="w-full md:w-1/2 md:order-1">
      <img
        class="w-[200px] mx-auto h-auto max-w-md lg:max-w-full"
        src="/img/don-emiliano-logo.webp"
        alt="Logo de la Chicharronería Don Emiliano con un cerdo estilizado"
      />
    </div>
  </div>
</div>
