<section class="min-h-screen flex flex-col items-center justify-center">
  <div class="flex justify-center">
    <img class="w-136 h-auto" src="img/logo AI2-logopng-04.png" />
  </div>
  <div class="mt-4 py-6 flex flex-col items-center gap-5 md:flex-row">
    <div class="flex items-center justify-center gap-3 text-lg">
      <div class="">Recojo en tienda</div>
      <div aria-hidden="true" class="w-0.5 h-6 bg-gray-500"></div>
      <div>Para llevar</div>
    </div>
    <div>
      <a
        href="/menu"
        class="inline-block bg-amber-500 px-8 py-3 rounded-md text-white font-bold tracking-wide"
      >
        Menú
      </a>
    </div>
  </div>
</section>
