---
import Layout from '@/layouts/Layout.astro'
import OrderMenu from '@/components/order/OrderMenu.astro'
import MapPicker from '@/components/MapLite.astro'
---

<Layout>
  <main class="min-h-screen">
    <OrderMenu />
    <MapPicker />
  </main>
</Layout>
